@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PPGoshaSans';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./assets/fonts/PPGoshaSans-Regular.woff2');
  }
  @font-face {
    font-family: 'PPGoshaSans';
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url('./assets/fonts/PPGoshaSans-Bold.woff2');
  }
  @font-face {
    font-family: 'Gilroy-r';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./assets/fonts/GilroyRegular.woff2');
  }
  html {
    @apply font-gosha text-white bg-black;
  }
  body {
    @apply overflow-x-hidden;
  }
  nav {
    @apply text-[6.25rem];
  }
  h1 {
    @apply typo-h1;
  }
  h2 {
    @apply typo-h2;
  }
}

@layer components {
  .typo-h1 {
    @apply text-7xl 2xl:text-[80px]/[1] 3xl:text-[111px]/[1.03];
  }
  .typo-h2 {
    @apply text-[54px]/[45px] font-bold;
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .text-stroke {
    -webkit-text-stroke: 1px white;
  }
  .text-stroke--bold {
    -webkit-text-stroke: 2px white;
  }
  .text-transition-transparent {
    @apply text-transparent transition-colors;
  }
  .animation-running-text--forward {
    @apply animate-running-forward animation-duration-[65s] hover:animation-paused;
  }
  .animation-running-text--backward {
    @apply animate-running-backward animation-duration-[70s] hover:animation-paused;
  }
}
