@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'PPGoshaSans';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./assets/fonts/PPGoshaSans-Regular.woff2');
  }
  @font-face {
    font-family: 'PPGoshaSans';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('./assets/fonts/PPGoshaSans-Bold.woff2');
  }
  @font-face {
    font-family: 'Gilroy-r';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./assets/fonts/GilroyRegular.woff2');
  }
  @font-face {
    font-family: 'SocialRegular';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./assets/fonts/SocialRegular.woff2');
  }
  html {
    @apply font-gosha text-white bg-black;
  }
  body {
    @apply overflow-x-clip lg:cursor-none select-none;
  }
  body.no-scroll {
    @apply overflow-hidden;
  }
  a, form label, button {
    @apply cursor-none;
  }
  nav {
    @apply text-4xl md:text-6xl xl:text-10xl;
  }
  h1 {
    @apply typo-h1;
  }
  h2 {
    @apply typo-h2;
  }
  input, textarea {
    @apply outline-none;
  }
  :disabled {
    @apply disabled:bg-gray-200 disabled:text-black;
  }

  html::-webkit-scrollbar {
    @apply w-[3px] h-[3px];
  }
  html::-webkit-scrollbar-button {
      @apply bg-[#666666];
  }
  html::-webkit-scrollbar-track {
      @apply bg-[#999999];
  }
  html::-webkit-scrollbar-track-piece {
      @apply bg-[white];
  }
  html::-webkit-scrollbar-thumb {
    @apply h-[50px] bg-[#666666] rounded-[3px];
  }
  html::-webkit-scrollbar-corner {
      @apply bg-[#999999];
  }
  html::-webkit-resizer {
      @apply bg-[#666666];
  }
}

@layer components {
  .typo-h1 {
    @apply text-4xl md:text-6xl lg:text-[80px]/[1];
  }
  .typo-h2 {
    @apply text-3xl sm:text-5xl md:text-6xl lg:text-5xl font-bold;
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .text-stroke {
    -webkit-text-stroke: 1px white;
  }
  .text-stroke--bold {
    -webkit-text-stroke: 2px white;
  }
  .text-transition-transparent {
    @apply text-transparent transition-colors;
  }
  .animation-running-text--forward {
    @apply animate-running-forward animation-duration-[65s] hover:animation-paused;
  }
  .animation-running-text--backward {
    @apply animate-running-backward animation-duration-[70s] hover:animation-paused;
  }
  .error-message {
    @apply text-red-400 text-xs;
  }
  /* icons */
  .icon-telegram {
    @apply before:content-['\e801'] font-icons;
  }
  .icon-instagram {
    @apply before:content-['\e800'] font-icons;
  }
  .icon-facebook {
    @apply before:content-['\f09a'] font-icons;
  }
  .icon-behance {
    @apply before:content-['\f1b4'] font-icons;
  }
}
